<form [formGroup]="windowForm" (ngSubmit)="submit(windowForm.value)">
  <div class="form-group">
    <div class="type-select" *ngFor="let windowType of windowTypes">
      <div class="row">
        <div class="column" *ngIf="windowType.id%4 == 0">
          <img [src]="windowType.imgUrl" [alt]="'picture of' + windowType.type">
        </div>
        <div class="column" *ngIf="windowType.id%4 == 1">
          <img [src]="windowType.imgUrl" [alt]="'picture of' + windowType.type">
        </div>
        <div class="column" *ngIf="windowType.id%4 == 2">
            <img [src]="windowType.imgUrl" [alt]="'picture of' + windowType.type">
        </div>
        <div class="column" *ngIf="windowType.id%4 == 3">
            <img [src]="windowType.imgUrl" [alt]="'picture of' + windowType.type">
        </div>
      </div>
    </div>
    <ul>
      <li>
        <label class="center-block">Type:
          <input class="form-control" formControlName="type">
        </label>
      </li>
      <li>
        <label class="center-block">hight:
          <input class="form-control" formControlName="hight">
        </label>
      </li>
      <li>
        <label class="center-block">width:
          <input class="form-control" formControlName="width">
        </label>
      </li>
    </ul>
  </div>
  <button class="button" type="submit">Add the Window</button>
</form>
