
#photos:after {
  display: table;
  clear: both;
}

#photos img {
  float: left;
  width: 25%;
  height: auto;
}

@media screen and (max-width:600px){
  #photos img {
    width: 50%;
  }
}

@media screen and (max-width:300px){
  #photos img {
    width: 100%;
  }
}
