/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin:0;
}



/*text*/

/*hyperlink*/

a{
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/*Components*/

app-top-bar {
  width: 100%;
  height: 60px;
  z-index: 10000;
  position: fixed;
  top: 0;
  transition: top .3s;
  color: #ffffff;
  background-color: #194ad2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

window-form{
  width: 100%;
  /* min-height: 100vh; */
  height: auto;
}

quote-builder{
  width: auto;
  height: auto;
  flex-wrap: wrap;
}


app-top-bar h1 {
  color: #ffffff;
  margin:0;
}


/*buttons*/

.button, button{
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2%;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.parallax{
  min-height: 400px;

  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@media screen and (max-width: 600px){
  .parallax{
    min-height: 200px;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
