<div id="addWindow">
  <div *ngFor='let window of windows'>
    {{ window.type }}
    {{ window.hight }}
    {{ window.width }}
  </div>
  <a routerLink="/window-form" class="button">add a window</a>

  <!--takeing this out for now probobly going to add a screen after the submit to put all this info in-->
  <!-- <div>
      <form [formGroup]="quoteForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label class="center-block">Email:
            <input class="form-control" formControlName="email">
          </label>
          <label class="center-block">Zipcode:
            <input class="form-control" formControlName="zipcode">
          </label>
        </div>
        <button class="button" type="submit">submit to get a quote</button>
      </form>
    </div> -->
</div>

