
#quoteForm {
  background-color: #ffffff;
}

input[type="number"]::-webkit-outer-spin-button, input[typue="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]{
  -moz-appearance: textfield;
}

.quoteStepper {
  width: 100%;
}


.windowSelect {
  width: 100%;
  height: auto;
  columns: 6;
}

@media screen and (max-width: 600px){
  .windowSelect{
    columns: 2;
  }
}

