<mat-horizontal-stepper #stepper linear='true' class="quoteStepper">

  <mat-step label="Basic Info" required>
    <form [formGroup]="basicInfoForm" ng-submit="infoSubmit(basicInfoForm.value, stepper)">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="name" type="text" id="name" formControlName="name" required>
          <mat-error *ngIf="basicInfoForm.get('name').invalid">{{getNameError()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="email" type="text" id="email" formControlName="email" required>
          <mat-error *ngIf="basicInfoForm.get('email').invalid">{{getEmailError()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput #input maxlength="5" minLength="5" placeholder="zipcode" type="number" id="zipcode" formControlName="zipcode" required>
          <mat-error *ngIf="basicInfoForm.get('zipcode').invalid">{{getZipError()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
    <button mat-button (click)="infoSubmit(basicInfoForm.value, stepper)">Next</button>
  </mat-step>


  <mat-step label="windowSelect">
    <h3>Select your windows</h3>
    <div class="windowSelect">

      <!--TODO Make Dinamic-->
    <div *ngFor="let windowStyle of windowForms.controls; let i=index">
      <form [formGroup]="windowStyle">
      <mat-card class="windowTypeCard" (click)='test(windowStyle.value)'>
          <mat-card-title>{{windowTypes[i].title}}</mat-card-title>
          <img mat-card-image [src]="windowTypes[i].image" (click)="toggleActive(windowStyle)">
          <!-- <input formControlName="active" type="checkbox" hidden="true" id="activeCheckbox"> -->
          <input [hidden]="!(windowStyle.value.active)" matInput placeholder="number of windows" type="number" formControlName="amount">
      </mat-card>
      </form>
    </div>

    </div>
    <button matStepperPrevious>Back</button>
    <button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="step 3">
    <button mat-button (click)="finalSubmit()">submit</button>
  </mat-step>
</mat-horizontal-stepper>
