#quoteForm {
  background-color: #ffffff;
}

input[type="number"]::-webkit-outer-spin-button, input[typue="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]{
  -moz-appearance: textfield;
}
