
#quoteForm {
  background-color: #ffffff;
}

input[type="number"]::-webkit-outer-spin-button, input[typue="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]{
  -moz-appearance: textfield;
}

.quoteStepper {
  max-width: 90%;
  orientation: horizontal;
  /* labelPosition: bottom; */
}


.windowSelect {
  width: 100%;
  height: auto;
  object-fit: cover;
  columns: 6;
}

mat-card{
  overflow: hidden;
  object-fit: cover;
  width: auto;
  height: 80%;
}

mat-card img{
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 830px){
  .windowSelect{
    columns: 4;
  }
}

@media screen and (max-width: 600px){
  .windowSelect{
    columns: 2;
  }
}

